# CASA0007 - Quantitative Methods Group Project
## Group 25

In [6]:
#Reading in libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Context of the data

### 1. Cycle to work - Joe
This dataset is from the 2011 Census. Results are based off a Census question that classifies usual residents aged 16 to 74 in England and Wales by their method of travel to work, disaggregated by Census Output Area (OA). The estimates are as at census day, 27 March 2011 (single time snapshot). The dataset can be found [here](https://www.nomisweb.co.uk/census/2011/qs701ew).

### 2. Deprivation - Yubin

The dataset is based on the 2011 Census provided by Office for National Statistics (ONS), classified households in England and Wales through four domains of deprivation: Employment, Education, Health and disability, and Household overcrowding. It is a nationally representative data and the estimates are as at census day, 27 March 2011.

A household would be defined as deprived if they meet one or more of the following conditions:
1. Employment: Any member of a household, who is not a full-time student, is either unemployed or long-term sick.
2. Education: No person in the household has at least Level 2 education (see highest level of qualification), and no person aged 16 to 18 is a full-time student.
3. Health and disability: Any person in the household has general health that is 'bad' or 'very bad' or has a long-term health problem.
4. Housing: The household's accommodation is either overcrowded, with an occupancy rating -1 or less, or is in a shared dwelling, or has no central heating.

### 3. Air Quality - Zach
[Data](https://data.london.gov.uk/dataset/pm2-5-map-and-exposure-data) linked here.


This dataset identifies modelled PM<sub>2.5 </sub>(particulate matter of diameter 2.5 micrometers or less) across London's Output Areas.

Increased exposure to high levels of partculate matter have been linked to increased rate of cardiovascular and respiratory disease (Liu, 2019).

### 4. Cycle Sharing

## 2. Description of data fields/ variables

### 1. Cycle to work - Joe
* Read in the data

In [24]:
cycletowork = pd.read_csv('data/cycleing_to_work_oa.csv')
cycletowork.columns

Index(['date', 'geography', 'geography code', 'Rural Urban',
       'Method of Travel to Work: All categories: Method of travel to work; measures: Value',
       'Method of Travel to Work: Work mainly at or from home; measures: Value',
       'Method of Travel to Work: Underground, metro, light rail, tram; measures: Value',
       'Method of Travel to Work: Train; measures: Value',
       'Method of Travel to Work: Bus, minibus or coach; measures: Value',
       'Method of Travel to Work: Taxi; measures: Value',
       'Method of Travel to Work: Motorcycle, scooter or moped; measures: Value',
       'Method of Travel to Work: Driving a car or van; measures: Value',
       'Method of Travel to Work: Passenger in a car or van; measures: Value',
       'Method of Travel to Work: Bicycle; measures: Value',
       'Method of Travel to Work: On foot; measures: Value',
       'Method of Travel to Work: Other method of travel to work; measures: Value',
       'Method of Travel to Work: Not in employment; measures: Value'],
      dtype='object')

* Drop unnecessary columns

In [32]:
cycletowork = cycletowork[['date',
                           'geography code',
                           'Method of Travel to Work: Bicycle; measures: Value',
                           'Method of Travel to Work: All categories: Method of travel to work; measures: Value']]
cycletowork.columns

Index(['date', 'geography code',
       'Method of Travel to Work: Bicycle; measures: Value',
       'Method of Travel to Work: All categories: Method of travel to work; measures: Value'],
      dtype='object')

In [33]:
cycletowork.dtypes

date                                                                                    int64
geography code                                                                         object
Method of Travel to Work: Bicycle; measures: Value                                      int64
Method of Travel to Work: All categories: Method of travel to work; measures: Value     int64
dtype: object

In [34]:
cycletowork.head(5)

,date,geography code,Method of Travel to Work: Bicycle; measures: Value,Method of Travel to Work: All categories: Method of travel to work; measures: Value
0,2011,E00004482,34,235
1,2011,E00004497,12,192
2,2011,E00004498,13,235
3,2011,E00004502,6,187
4,2011,E00004505,12,213

The relevant fields for our analysis are as follows:  
| Field name  | Data type  | Description  |
|---|---|---|
| Date  | Integer  | Year data  was collected (2011 census)  |
| Geography code  | String  | Census Output Area unique identifier. The string format can be used to filter OAs by UK region.  |
| Method of Travel to Work: Bicycle  | Integer  | Count of residents aged 16 to 74 who used a bicycle as their method of travel to work on the Census date  |
| Method of Travel to Work: All categories  | Integer  | Total count of residents aged 16 to 74 who provided a response for method of travel to work on the census date  |

### 2. Deprivation

In [ ]:
deprivation = pd.read_csv('https://github.com/ZacharyP-E/qm_group25/blob/fcde288de69abe4f7dd76d6b156ebd82201d619a/data/deprivation_oa.csv')
deprivation.head(10)

ERROR! Session/line number was not unique in database. History logging moved to new session 80

### 3. Air Quality - Zach

In [9]:
aq_df = pd.read_csv("data/OA2_PM25_2013.csv")

### 4. Cycle Sharing

## 3. Summary statistic fields

## 4. Appropriate plots to communicate distribution

## 5. Appropriate plots to illustrate relationship between key fields

# References

Liu, C., Chen, R., Sera, F., Vicedo-Cabrera, A.M., Guo, Y., Tong, S., Coelho, M.S., Saldiva, P.H., Lavigne, E., Matus, P. and Valdes Ortega, N., 2019. Ambient particulate air pollution and daily mortality in 652 cities. New England Journal of Medicine, 381(8), pp.705-715.